body
  nav(class="navbar navbar-dark bg-primary")
    a.navbar-brand(href="/"). 
      ToDo    
    ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
      li(class="nav-item active")
        a(class="nav-link" href="/create") New