extends layout

mixin tasker(task)
  div.form-check
    input.form-check-input(type="checkbox" id="inProcess")
    label.form-check-label(for="inProcess")
    h2= task.title


block content
  div.container
    h1= title
    for task in todos
      +tasker(task)
      